<div>
    <h1>CodingLibraryDSR</h1>
    
    <a href="/">Dashboard</a>
    <a href="/categories">Categories</a>
    <a href="/comments">Comments</a>
    <a href="/languages">Languages</a>
    <a href="/problems">Problems</a>
    <a href="/subscriptions">Subscriptions</a>
</div>

